@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding : 0px;
    margin : 0px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none !important;
    color: #000;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 1400px;
}

.section-title {
    font-size: 3rem;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
}

.section-title span {
    color: #8E44AD;
}



/* Begin Nav Wrapper */
#navbar {
    position: fixed;
    z-index: 9999;
    background: black;
    height: 80px;
    width: 100%;
    transition: 0.2s;
    transition-property: height;
}

#navbar .logo {
    float: left;
}

#navbar .logo img {
    width: 150px;
    transition: 0.2s;
}

#navbar ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 0px solid red;
}

#navbar ul li {
    float: left;
}

#navbar ul li a{
    color: #fff;
}

#navbar ul li a:hover {
    border-bottom: 3px solid #909497;
}

#navbar ul li #link1, #link2, #link3, #link4, #link5 {
    display: block;
    margin: 29px;
    font-size: 0.9rem;
    transition: 0.2s;
    transition-property: margin;
    width: fit-content;
}

#navbar ul li ul {
    position: absolute;
}

#navbar ul li ul a {
    color: #000;
}

#navbar ul li:hover ul {
    display: block;
}

#navbar .sensDrop {
    display: none;
    background: #D0D3D4;
    padding: 0px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#navbar .sensDrop li {
    padding: 8px 0px;
    font-size: 0.9rem;
}

#navbar #menu-icon {
    position: relative;
    right: 5px;
    color: #fff;
    float: right;
    margin: 29px;
    font-size: 25px;
    transition: .2s;
}

.responsive-menu {
    display: none;
    margin-right: 40px;
}

.responsive-menu .menu-icon img {
    object-fit: contain;
    cursor: pointer;
}

.responsive-menu-items {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: 0.2s;
    display: flex;
    align-items: center;
    transform: translateY(-1000px);
}

.responsive-menu-items .close-icon {
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 40px;
    cursor: pointer;
}

.menu-table {
    position: absolute;
    width: 100%;
    font-size: 25px;
    text-align: center;
}

.menu-table p {
    cursor: pointer;
    margin-bottom: 0px;
}

.menu-table ul {
    margin-top: 50px;
    display: none;
    font-size: 1rem;
    margin: 0 auto;
    width: 50%;;
    height: 100%;
    border-radius: 10px;
    background-color: #F8F9F9;
}

.menu-table ul li {
    list-style-type: none;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
}

.menu-table ul li:nth-child(1) {
    margin-top: 10px;
    border-bottom: 1px solid #D7DBDD;
}

.menu-table tr {
    height: 80px;
}
/* End Nav Wrapper */


/* Begin Hero Section */
#hero {
    background-image: url("../images/pyrometer.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero .hero h1 {
    width: fit-content;
    color: transparent;
    font-size: 4rem;
    display: block;
    position: relative;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1) {
    animation-delay: 1.5s;
}
#hero h1:nth-child(2) {
    animation-delay: 2.5s;
}
#hero h1:nth-child(3) {
    animation-name: text_reveal_name;
    animation-delay: 3.5s;
}

#hero .hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #8E44AD;
    animation: text_reveal_frame 1s ease;
    animation-delay: 1s;
}

#hero  h1:nth-child(1) span {
    animation-delay: 1s;
}
#hero  h1:nth-child(2) span {
    animation-delay: 2s;
}
#hero  h1:nth-child(3) span {
    animation-delay: 3s;
}

#hero .hero .cta {
    display: inline-block;
    margin-top: 30px;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #8E44AD;
    padding: 20px 50px;
    font-size: 2rem;
    font-weight: 100;
    transition: .3s;
    transition-property: background-color, color;
}
#hero .hero .cta:hover {
    background-color: #8E44AD;
}
/* End Hero Section */



/* Sensors Section */
#sensors .sensors {
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

#sensors .sensors-top {
    margin-bottom: 0px;
}

#sensors .all-sensors {
    border-radius: 10px;
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
}

#sensors .sensors-bottom .sensors-img {
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
    height: 300px;
    transition: 0.3s ease transform;
}

#sensors .sensors-img img{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


#sensors .sensors-bottom .sensors-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.4;
}

#sensors .sensors-bottom .sensors-img:hover {
    transform: scale(1.1);
}

#sensors .sensors-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    padding: 20px;
    min-height: 300px;
}

#sensors .sensors-item h2 {
    color: #fff;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 10px;
}

#sensors .sensors-item p {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 20px;
}

#sensors .sensors-item a {
    display: flex;
    justify-content: center;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    transition: 0.2s background-color, color;
}

#sensors .sensors-item a:hover {
    background-color: #fff;
    color: #000;
}

/* End Sensors Section */



/* Begin About Section */
#about .about {
    padding-bottom: 100px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .about-info {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column-reverse;
}

#about .about-info .col-right p{
    font-size: 1rem;
    letter-spacing: 0.05;
    line-height: 1.6;
    margin-bottom: 30px;
    font-weight: 200;
}

#about .about .about-img {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

#about .about .about-img::before {
    content: '';
    position: absolute;
    top: 13%;
    left: -10%;
    width: 98%;
    height: 98%;
    border: 7px solid #8E44AD;
    z-index: -1;
}

#about .about .about-img img {
    object-fit: cover;
    width: 100%;
}
/* End About Section */


/* Begin Footer */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
    width: 100%;
    max-width: 1400px;
    min-height: 320px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#footer .footer-links {
    margin-top: 40px;
}

#footer .footer-nav-links a {
    font-size: 0.9rem;
    padding: 5px;
    color: #fff;
    transition: 0.1s;
    display: flex;
    justify-content: center;
}

#footer .footer-nav-links a:hover {
    color: #BB8FCE;
}

#footer .footer-copy p {
    line-height: 1.8;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

#footer .social-icons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer .social-icons .social-item {
    padding: 0 10px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: 0.1s;
}

#footer .social-item img:hover {
    filter: grayscale(0);
}

#footer .footer-copy a {
    margin: 0 auto;
    font-size: 0.8rem;
    color: #fff;
    transition: .1s;
}

#footer .footer-copy a:hover {
    color: #909497;
}
/* End Footer */

/* Keyframes */
@keyframes text_reveal_frame {
    50% {
        width: 100%;
        left : 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: #fff;
    }
}
@keyframes text_reveal_name {
    100% {
        color: #8E44AD;
    }
}
/* End KeyFrames */

/* Media Query for tablet and desktop*/
@media only screen and (max-width: 900px) {

    /* Nav bar */
    #navbar .nav{
        display: none;
    }

    .responsive-menu {
        display: block;
    }
    /* End Nav Bar */

    /* Begin hero section */
    #hero .hero h1 {
        font-size: 3rem;
    }

    #hero .hero .cta {
        padding: 10px 30px;
        font-size: 1.5rem;
    }
    /* End hero section */
}

@media only screen and (min-width: 1200px) {

    /* Begin sensors section */
    #sensors .sensors {
        padding-bottom: 0;
    }

    #sensors .sensors-bottom {
        display: flex;
        flex-direction: row;
    }

    #sensors .sensors-bottom .all-sensors {
        width: 30%;
    }
    /* End sensors section */

    /* Begin about section */
    #about .about {
        padding-bottom: 0px;
    }

    #about .about-info {
        flex-direction: row;
    }

    #about .col-left {
        margin-right: 50px;
    }
    /* End about section */

    /* Begin footer section */
    #footer .footer {
        min-height: 250px;
    }

    #footer .footer-links {
        margin-top: 60px;
    }

    #footer .footer-nav-links {
        display: flex;
        flex-direction: row;
    }

    #footer .footer-nav-links a {
        margin-right: 20px;
    }
    /* End footer section */
}
/* End Media Query for tablet and desktop*/